.experience {
    .experienceContent {
      padding-left: 300px;  
      width: 100%;
      padding-top: 100px;
      text-align: center ;
      a {
      color: black;
      font-family: 'Courier New', Courier, monospace;
      }
      h1 {
      text-align: center;
        }
        img {
            width: 5rem;
            // margin: 10px;
            // padding-left: 5rem;
            // margin-top: 1rem;
          }
  
    }
  }
  
  
  
  @media screen and (max-width: 730px){
      .experience {   
          .experienceContent {
              padding-left: 0;  
              
          }
      }     
  }