.sidebar {
    background: $color-1;
    height: 100%;
    position: fixed;
    width: 300px;
    font-family: $font-1;
    display: grid;   
    grid-template-columns: 1fr;
    grid-template-rows: 250px 1fr 108px;
    grid-template-areas: 
    "1"
    "2"
    "3";
    .id {
        grid-area: 1;
        text-align: center;
        user-select: none;
        position: relative;
            .idContent {
                position:inherit;
            img {
                border-radius: 8px;
                width: 40%;
                margin-top: 5rem;
            }   
        }
    }
}

.navigation {
    grid-area: 2;
    padding: 2rem 1rem;
    ul {
        height: 100%;
        display: grid;

        li {
            padding: 1rem 0 1rem .4rem;
            font-size: 1.3rem;
            position: relative;
            padding-right: 120px;
            a {
                color: black   
            }
            .navActive {
                color: black;
            }
            i {
                position: absolute;
                font-size: 0.95rem;
                transform: translateY(3px);
                transition: .2s ease;
                color: black;
            }
            span {
                margin-left: 1rem;
            }
        }
    }
}

.socialNetwork {
ul {
    display: flex;
    align-items: center;
    i {
        border-radius: 50%;
        background-color: white;
        width: 30px;
        height: 30px;
        text-align: center;
        display: inline-flex;
        align-items: center;
        justify-content: center;
      }
    }
   
}



// @media screen and (max-width: 730px){
//     .sidebar {
//       width: 100%;
//       display: flex;
//       height: inherit;
//       margin-bottom: .2rem;
//       .id, .socialNetwork {
//           display: none;
//       }
//       .navigation {
//           width: 100%;
//           padding: .1rem 1rem;
//           ul {
//               display: flex;
//               justify-content: space-between;
//           }
//       }
//     }
// }

// @media screen and (max-width: 580px){
//     .sidebar {
//         height: inherit;
//         width: 100%;
//         ul {
//             padding: 0;
//             justify-content: space-around !important;
//             li {
//                 padding: 1rem 0 !important;
//                 margin: 0;
//             }
//             span {
//                 display: none;
//             }
//         } 
//     }
// }