
@import url('https://fonts.googleapis.com/css2?family=Exo:wght@300&family=Lato:wght@100&family=Roboto+Mono:wght@200&display=swap');

$font-1: 'Lato', cursive;
$font-2: 'Roboto Mono', sans-serif;
$font-3: 'Exo', serif;

$color-1: #2222;
$color-2: rgba(90, 90, 90, 0.196);
$color-3: #2311;
$black: #333;
$white: #ddd;


button {
    cursor: pointer;
}

li {
    list-style-type: none;
}



a:visited {
    color: $color-2;
}

.home, .experience, .skills {
  display: flex;
  
}


