@import './settings';
@import './components/navigation';
@import './components/home';
@import './components/experience';
@import './components/skills';
//@import "react-tiger-transition/styles/main.min.css";
